{{ define "index-css" }}

*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: english-font;
    src: url(/static/fonts/english);
}

.light {
    background-color: #F2F3F5;
    color: #111810;
}

.dark {
    background: #231c1c;
    color: #ffffff;

}

body {
    font-family: english-font, sans-serif;
    margin: 0;
    font-size: 2rem;
    padding: 0;
}

.alquran-headline {
    margin-top: 2rem;
    text-align: center;
}


#root {
    margin: 1rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}



/* surah link means intire surah */
.dark .surah-link{
    /* background-color: rgb(245, 245, 245); */
    border: solid 2px rgb(245, 245, 245);
}

.light .surah-link {
    border: solid 2px rgb(29, 29, 29);
    background-color: rgb(245, 245, 245);
}

.surah-link {
    border-radius: 0.5rem;
    text-decoration: none;
    color: inherit;
}
.surah-link:hover {
    background-color: rgb(125, 125, 125);
}

.surah p {
    margin: 0;
    padding: 1rem 1.8rem;
    padding-left: 0.5rem;
    transition: background-color 400ms ease-in-out;
}


.surah-no {
    margin-left: 0.5rem;
    margin-right: 0.8rem;
}

@media (max-width: 768px) {
    .alquran-headline {
        font-size: 3rem;
    }

    #root {
        margin: 1.7rem;
    }
}

{{ end }}
