{{ define "wordByWord-style" }}
@font-face {
    font-family: arabic;
    src: url(/static/fonts/arabic);
}


@font-face {
    font-family: englishFont;
    src: url(/static/fonts/english);
}

@font-face {
    font-family: bangla-font;
    src: url(/static/fonts/bangla);
}


.dark {
    background: #231c1c;
    color: #ffffff;
}

.light {
    background: #ffffff;
    color: #231c1c;
}

body {
    font-size: 2rem;
    margin: 1rem 7rem;
}

#hero {
    font-family: englishFont;
}

#hero h1 {
    margin-bottom: .5rem;
}

#place {
    text-transform: capitalize;
}

#bismillah {
    font-family: arabic;
    text-align: center;
    font-size: 1.6em;
}

.aya {
    /* border-top: 1px solid rgb(85, 85, 85); */
    padding-bottom: 1rem;
}


/* .light .aya { */
/*     border-bottom: 1px solid black; */
/* } */

/* .light .aya:first-of-type { */
/*     border-top: 1px solid black; */
/* } */

/* .dark .aya { */
/*     border-bottom: 1px solid white; */
/* } */

/* .dark .aya:first-of-type { */
/*     margin-top: 0.5rem; */
/*     border-top: 1px solid white; */
/* } */


/* .aya:last-of-type { */
/*     border-bottom: 1px solid rgb(85, 85, 85); */
/*     margin-bottom: 2rem; */
/**/
/* } */
.verse_key {
    font-family: englishFont;
    font-size: 0.6em;
    margin: 0 auto;
    margin-top: 0.4rem;
    margin-left: 1rem;
    opacity: 0.7;
}



.words {
    font-family: arabic;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.word {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 1rem;
    align-items: center;
}

.arabic {
    font-size: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.trans {
    font-family: bangla-font;
    display: block;
    font-size: 0.8em;
    line-break: strict;
}

.border {
    margin-top: 2px;
    padding: 1px;
    opacity: 0.7;
}

.light .border {
    background-color: black;
}

.dark .border {
    background-color: white;
}

@media (max-width: 1000px) {
    /* Styles for phones */
    /* Add your CSS styles here */
    body {
        font-size: 3.8rem;
        margin: 1rem 2rem;
    }

    #theme-tgl,#fontPlus,#fontMinus {
        font-size: 0.7em;
    }

    .verse_key {
        font-size: 0.8em;
    }
}

{{ end }}
