{{ template "header" }}
<style>
{{ template "index-css" }}
</style>
{{ template "midHeader" "Quran" }}

<h1 class="alquran-headline">The Quran</h1>
<button id="theme-tgl">Theme</button>
	<!--  prefixedSurah.ChaptersIdx.Chapters[0].Id -->
	<!--  prefixedSurah.Chapters.Chapters[0].Id -->
	<!--  prefixedSurah.Prefixes[0] -->
<div id="root">
{{ range $i, $val := .ChaptersIdx.Chapters }}
<a class="surah-link" href="{{ (index $.Prefixes $i) }}">
<div class="surah">
  <p>
    <span class="surah-no">{{ $val.Id }}</span>
    <span>{{ $val.Name }}</span>
  </p>
</div>
</a>
{{ end }}

</div>

<script>
{{ template "theme-js" }}
</script>

{{ template "footer" }}
