{{ template "header" }}
<style>
{{ template "surah-css" }}
</style>

{{ template "midHeader" .SurahInfo.Chapter.Name }}

  <div class="surah-body">
  <h1>{{ .SurahInfo.Chapter.Name }}</h1>


  <div class="imfo">{{ .SurahInfo.Chapter.Place}}</div>
  <!-- <div class="ayas"> {{ .SurahInfo.Chapter.VersesCount }} </div> -->
  <!-- <div id="translation-imfo"></div> -->
  <button id="theme-tgl">Theme</button>
  <button id="fontPlus">Font +</button>
  <button id="fontMinus">Font -</button>

  {{ if  .SurahInfo.Chapter.Bismillah }}
    <p id="bismillah">بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ</p>
  {{ end }}


  {{ range $i, $val := $.Aarabic.Verses }}
  <div class="aya" id="{{ $val.Id }}">
    <div class="verse-key">{{ $val.Key }}</div>
    <p class="aya-text">{{ $val.Text }}</p>

    {{ $i = $i }}
    <p class="bn-trans">{{ (index $.BanglaTranslation.Translations $i).Text }}</p>
    {{ range $.Translaions }}
    <p class="en-trans">{{ (index .Translations $i).Text }}</p>
    {{ end }}

  </div>
  {{ end }}

</div>

<script>
  const Classes = document.body.classList;
  const themeTgl = document.getElementById("theme-tgl")
  Classes.add("dark");
  themeTgl.addEventListener("click", () => {
    if (Classes.contains("dark")) {
      Classes.remove("dark");
      Classes.add("light");
      themeTgl.innerText = "Go Dark"
    } else {
      Classes.add("dark");
      Classes.remove("light");
      themeTgl.innerText = "Go Light"
    }
  })

  const fontPlus = document.getElementById("fontPlus");
  const fontMinus = document.getElementById("fontMinus");
  const body = document.body;

  function bodyFonstSize() {
    const size = getComputedStyle(body).fontSize;
    return parseFloat(size.substring(0, size.length - 2));
  }


  fontPlus.addEventListener("click", () => {
    const size = `${bodyFonstSize() + 1}px`
    body.style.fontSize = size
    fontPlus.innerText = `Font ${size} +`
  });


  fontMinus.addEventListener("click", () => {
    const size = `${bodyFonstSize() - 1}px`
    body.style.fontSize = size
    fontMinus.innerText = `Font ${size} -`
  });
</script>
{{ template "footer" }}

