{{ template "header" }}
<style>
{{ template "surah-css" }}
</style>

{{ template "midHeader" .SurahInfo.Chapter.Name }}

  <div class="surah-body">
  <h1>{{ .SurahInfo.Chapter.Name }}</h1>


  <div class="imfo">{{ .SurahInfo.Chapter.Place}}</div>
  <!-- <div class="ayas"> {{ .SurahInfo.Chapter.VersesCount }} </div> -->
  <!-- <div id="translation-imfo"></div> -->
  <button id="theme-tgl">Theme</button>

  {{ if  .SurahInfo.Chapter.Bismillah }}
    <p id="bismillah">بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ</p>
  {{ end }}


  {{ range $i, $val := $.Aarabic.Verses }}
  <div class="aya" id="{{ $val.Id }}">
    <div class="verse-key">{{ $val.Key }}</div>
    <p class="aya-text">{{ $val.Text }}</p>

    {{ $i = $i }}
    <p class="bn-trans">{{ (index $.BanglaTranslation.Translations $i).Text }}</p>
    {{ range $.Translaions }}
    <p class="en-trans">{{ (index .Translations $i).Text }}</p>
    {{ end }}

  </div>
  {{ end }}

</div>

<script>
  // just for dark and light
  const Classes = document.body.classList;
  Classes.add("dark");
  document.getElementById("theme-tgl").addEventListener("click", () => {
    if (Classes.contains("dark")) {
      Classes.remove("dark");
      Classes.add("light");
    } else {
      Classes.add("dark");
      Classes.remove("light");
    }
  })
</script>
{{ template "footer" }}

